header{
    background-color: #C0C0C0;
    color: #0044FF;
    padding: 10px;
    text-align: center;
}

body{
    background-color: #ff0000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}